/*Font for logo, buttons, and session rows*/
@font-face {
  font-family: 'greetingFont';
  src: url('fonts/segoeuil.tff') format('truetype'), url('fonts/segoeuil.woff') format('woff');
}

/*Main page*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 440px;
  height: 320px;
  overflow: hidden;
}

body {
  background-color: #21D4FD;
  background-image: linear-gradient(0deg, #057CC7 0%, #009CFF 100%);
  margin: 0;
  padding: 0;
  width: 440px;
  height: 320px;
}

/*Tabulate title*/
h2 {
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: greetingFont;
}

.title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Settings button*/
.settings-button {
  margin-left: 30px;
  height: 30px;
  width: 70px;
  background: none; 
  color: white;
  /* border: 1px solid #99e6ff; */
  border-radius: 50px; 
  font: greetingFont;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

/* .settings-button {
  background: #ff4dff;
} */

.rotate:hover {
   transform: rotate(360deg);
}

.rotate {
  transition: transform 0.5s ease 0s;
  display: inline-block;
  color: #817F7F;
}

/*Save buttons*/
.save {
  margin-top: 2px;
  display: flex;
  justify-content: space-evenly;
}

.save-button {
  background-color:black;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font: greetingFont;
  width: 110px;
}

#sessions-body {
  max-height: 150px;
  overflow: scroll;
  padding: 0px 20px 10px 20px;
  justify-content: center;
}

.click-session {
  color: black;
  border: none;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height: 40px;
  justify-self: center;
}
