/*Font for logo, buttons, and session rows*/
@font-face {
  font-family: 'greetingFont';
  src: url('fonts/segoeuil.tff') format('truetype'), url('fonts/segoeuil.woff') format('woff');
}

/*Main page*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 440px;
  height: 320px;
  overflow: hidden;
}

body {
  background-image: linear-gradient(#FFFFFF, #9BFFD4);
  margin: 0;
  padding: 0;
  width: 440px;
  height: 320px;
}

/*Tabulate title*/
.title-text {
  color: white;
  font-size: 33px;
  font-family: greetingFont;
  margin: 0;
  text-align: center;
  align-self: center;
  position: relative;
  left: 15px;
}

.title {
  height: 65px;
  background-image: linear-gradient(#00b8e6,#057CC7);
  margin-top: 0px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Options button*/
.options-button {
  right: 0%;
  position: relative;
  left: 120px;
  top: 3px;
  align-self: center;
  height: 30px;
  width: 30px;
  border-style: none;
  background: none;   
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.8;
}

.rotate:hover {
   transform: rotate(360deg);
}

.rotate {
  transition: transform 0.5s ease 0s;
  display: inline-block;
  color: white;
}

/*Save buttons*/
.save {
  margin-top: 7px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.save-button {
  border: none;
  background: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 130px;
  opacity: 0.9;
  transition: 0.2s;
  font-size: .82rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(#00b8e6,#057CC7);
}

.save-button:hover {
  opacity: 1;
}

/*Sessions Title*/
#sessions-title {
  position: relative;
  left: 25px;
  font: greetingFont;
  color: black;
}

/*Empty Session Text*/
#sessions-empty {
  font: greetingFont;
  color: black;
  position: relative;
  top: 10px;
  left: 25px;
}

/*Saved Sessions*/
#sessions-body {
  max-height: 186px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 20px 0px 20px;
  justify-content: center;
}

.click-session {
  color: black;
  border: none;
  background-color: white;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  height: 40px;
  justify-self: center;
  line-height: 40px;
  padding-left: 10px;
  transition: 0.1s;
  overflow: hidden;
}

.click-session:hover {
  border: 2px solid #1ad1ff;
}

/*Text Span*/
.text-span {
  font: greetingFont;
  font-size: 15px;
}

/*Time Span*/
.time-span {
  position: relative;
  right: 90px;
  margin: 0px;
  padding: 0px;
  font: greetingFont;
  font-size: 10px;
  float: right;
}

/*Count Span*/
.count-span {
  position: relative;
  left: 30px;
  font: greetingFont;
  font-size: 10px;
  float: right;
  margin: 0px;
  padding: 0px;

}

/*Edit buttons*/
.edit-button {
  cursor: pointer;
  position: relative;
  left: 93px;
  top: 12px;
  float: right;
  background-color: rgb(255, 255, 255, 0);
  color: #1a75ff;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
}

/*Delete buttons*/
.del-button {
  cursor: pointer;
  position: relative;
  background-color: rgb(255, 255, 255, 0);
  left: 135px;
  top: 11px;
  float: right;
  color: #ff0080;
  border: none;
  opacity: 0.6;
  transition: 0.3s;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border-style: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Button Style After Pressed */

button:visited {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {opacity: 1}

button:active { 
  outline: none;
}

/*-----------Options Window--------------*/

.options-window {
  margin: 0;
  padding: 0;
  width: 440px;
  height: 320px;
}

/* Format all options */
.options-body {
  width: 360px;
  padding-left: 40px;
  padding-right: 40px;
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
}


/* Customize the label (the container) */
.checkmark-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.option-text {
  font-size: 18px;
  align-self: center;
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #aaa;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#options-back {
  color: white;
  height: 0px;
  width: 40px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.options-title {
  color: white;
  font-size: 33px;
  font-family: greetingFont;
  margin: 0;
  text-align: center;
  align-self: center;
  position: relative;
  left: 31px;
}

/*-----------Edit Window--------------*/

.edit {
  height: 65px;
  background-image: linear-gradient(#00b8e6,#057CC7);
  margin-top: 0px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-title {
  color: white;
  font-size: 33px;
  width: 280px;
  font-family: greetingFont;
  margin: 0;
  text-align: center;
  align-self: center;
  position: relative;
}

.edit-button-back {
  position: relative;
  top: 3px;
  align-self: center;
  height: 30px;
  width: 30px;
  border-style: none;
  background: none;   
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.8;
}

#edit-back {
  color: white;
  height: 0px;
  width: 40px;
  margin-bottom: 10px;
}

.edit-name {
  cursor: pointer;
  height: 70px;
  position: relative;
  float: left;
  background: none;
  color: white;
  border: none;
  transition: 0.3s;
}

.link-delete {
  cursor: pointer;
  height: 34px;
  width: 34px;
  position: relative;
  top: 4px;
  float: right;
  background: none;
  color: #ff0080;
  border: none;
  opacity: 0.8;
  transition: 0.3s;
}

.add-link {
  cursor: pointer;
  height: 34px;
  width: 34px;
  position: absolute;
  /* float: right; */
  background: none;
  color: #00b8e6;
  border: none;
  opacity: 0.8;
  transition: 0.3s;
  top: 72px;
  right: 43px;
}